<section>
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeModal()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<br />
		</div>
		<div class="modal-body">
			<div class="row">
				<div class="col-md-12">
					<table class="table">
						<tbody>
							<tr>
								<td>{{task.task}}</td>
								<th>المهمة</th>
							</tr>
							<tr>
								<td>{{task.description}}</td>
								<th>الوصف</th>
							</tr>
							<tr>
								<td>{{task.responsibility.firstName}} {{task.responsibility.lastName}}</td>
								<th>المسؤولية</th>
							</tr>
							<tr>
								<td>{{user.firstName}} {{user.lastName}}</td>
								<th>المدخل</th>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<h4 ng-show="error" class="alert alert-danger">{{error}}</h4>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<textarea class="form-control" ng-model="remarks" placeholder="الملاحظات"></textarea>
				</div>
			</div>
			<div class="row add-space" ng-show="isResponsibility">
				<div class="col-md-12">
					<button class="btn btn-md btn-block btn-warning" ng-disabled="!remarks" ng-click="markRejectedConfirm()">رفض المهمة</button>
				</div>
			</div>
			<div class="row add-space" ng-show="isResponsibility">
				<div class="col-md-12">
					<button class="btn btn-md btn-block btn-success" ng-disabled="!remarks" ng-click="markDoneConfirm()">تم إنهاء المهمة</button>
				</div>
			</div>
			<div class="row add-space" ng-show="isAuthor">
				<div class="col-md-12">
					<button class="btn btn-md btn-block btn-danger" ng-disabled="!remarks" ng-click="softRemoveConfirm()">إلغاء المهمة</button>
				</div>
			</div>
		</div>
	</div>
</section>