<section>
	<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center">بيانات القضية</h4>
			</div>
			<div class="modal-body">
				<h4 ng-show="error" class="alert alert-danger">{{error}}</h4>
				<div class="row">
					<div class="col-md-12 add-space">
						<div class="icon-right">
							<button ng-click="showNewDefendantForm()" class="btn btn-lg btn-warning"> إضافة خصم <span class="glyphicon glyphicon-plus"></span></button>
							<button ng-click="showNewClientForm()" class="btn btn-lg btn-info"> إضافة موكل <span class="glyphicon glyphicon-plus"></span></button>
						</div>
					</div>
				</div>
				<form class="form">
					<div class="form-group">
						<div class="row">
							<div class="col-md-4">
								<input type="date" ng-model="newCase.caseDate" class="form-control">
							</div>
							<div class="col-md-4">
								<input type="text" ng-model="newCase.reportNumber" class="form-control" placeholder="رقم البلاغ">
							</div>
							<div class="col-md-4">
								<input type="text" ng-model="newCase.caseNumber" class="form-control" placeholder="رقم القضية">
							</div>
						</div>
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="newCase.court">
							<option value="">-- المحكمة --</option>
							<option ng-repeat="court in courts" value="{{court._id}}">{{court.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<select class="form-control" ng-model="newCase.client">
							<option value="">-- الموكل --</option>
							<option ng-repeat="client in clients" value="{{client.name}}">{{client.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<label class="radio-inline">
							مدعي
							<input type="radio" name="inlineRadioOptions" id="" value="1">
						</label>
						<label class="radio-inline">
							مدعى عليه
							<input type="radio" name="inlineRadioOptions" id="" value="2">
						</label>
					</div>
					<p>&nbsp;</p>
					<div class="form-group">
						<select class="form-control" ng-model="newCase.client">
							<option value="">-- المستشار --</option>
							<option ng-repeat="consultant in consultants" value="{{consultant.name}}">{{consultant.name}}</option>
						</select>
					</div>
					<div class="form-group">
						<h4 class="lebel label-warning">الخصوم</h4>
						<table class="table table-striped">
							<thead>
								<tr>
									<th class="text-center">الإسم</th>
									<th class="text-center">رقم الهاتف</th>
									<th class="text-center">الصفة</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="text-center">خالد علي</td>
									<td class="text-center">٠٥٦٧٨٧٣٤٥٨</td>
									<td class="text-center">المدعي الأول</td>
	<!-- 							<td>{{defendant.firstName}} {{defendant.lastName}}</td>
								<td>{{defendant.mobilePhone}}</td>
								<td>{{defendant.role}}</td> -->
							</tr>
						</tbody>
					</table>
				</div>
				<div class="form-group">
					<input type="text" ng-model="newCase.subject" class="form-control" placeholder="الموضوع">
				</div>
				<div class="form-group">
					<textarea class="form-control" ng-model="newCase.facts" placeholder="الوقائع" rows="10"></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-block btn-success">إضافة قضية جديدة</button>
					<button ng-click="closeModal()" class="btn btn-lg btn-block btn-danger">إلغاء</button>
				</div>
			</form>
		</div>
	</div>
</section>