<section>
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeModal()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title text-center">تفاصيل الدعوى - {{selectedCase.status | localize:'ar'}}</h4>
		</div>
		<div class="modal-body">
			<div class="row add-space">
				<div class="col-md-6">
					<div style="float: left;">
						<h4 ng-show="nextSessionDate()"><span class="label label-default">موعد الجلسة القادمة {{nextSessionDate() | date: 'yyyy-MM-dd' }} الساعة {{nextSessionTime() | date: 'HH-mm Z'}}</span></h4>
						<h4 ng-hide="nextSessionDate()"><span class="label label-default"> لم يتم تحديد موعد الجلسة القادمة</span></h4>
					</div>
				</div>
				<div class="col-md-6">
					<div class="icon-right">
						<button ng-click="showUploads()" class="btn btn-sm btn-default">
						 	المستندات <span class="glyphicon glyphicon-folder-close"></span>
						 </button>
						<button ng-click="showAddDefendantSwitch()" class="btn btn-sm btn-danger">
						 	إضافة خصم <span class="glyphicon glyphicon-plus"></span>
						 </button>
						<button ng-click="showAddClientSwitch()" class="btn btn-sm btn-success">
						 	إضافة موكل <span class="glyphicon glyphicon-plus"></span>
						 </button>
						<button ng-click="showUpdateCase()" class="btn btn-sm btn-info">
						 	إضافة تحديث <span class="glyphicon glyphicon-plus"></span>
						 </button>
					</div>
				</div>
			</div>
			<h4 ng-show="error" class="alert alert-danger">{{error}}</h4>
			<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<tr class="info">
							<th colspan="2" class="text-center">تاريخ الإنشاء</th>
							<th class="text-center">المحكمة</th>
							<th class="text-center">رقم الدعوى</th>
							<th class="text-center">رقم البلاغ</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td colspan="2" class="text-center">{{selectedCase.caseDate | date: 'Z yyyy-MM-dd HH:mm:ss'}}</td>
							<td class="text-center">{{selectedCase.court[0].name}}</td>
							<td class="text-center">{{selectedCase.caseNumber}}</td>
							<td class="text-center">{{selectedCase.reportNumber}}</td>
						</tr>
						<tr class="success">
							<td class="text-center" colspan="5"><h4>الموكلين</h4></td>
						</tr>
						<tr ng-repeat="client in selectedCase.client" class="no-animate" class="text-center" ng-mouseenter="show = true" ng-mouseleave="show = false">
							<td colspan="1">
								<span ng-show="show && !client.removed" style="float: left;" class="text-muted">
									<span class="glyphicon glyphicon-remove cursor" ng-click="showRemoveClientConfirmForm($index)"></span>
								</span>
							</td>
							<td colspan="1" class="text-center">
								{{client.user.mobilePhone}}
							</td>
							<td class="text-center">{{client.role[client.role.length - 1]}}</td>
							<td colspan="2" class="text-center">
								{{client.user.firstName}} {{client.user.lastName}}
								<label class="label label-danger" ng-show="client.removed">حذف</label>
								<span tooltip="{{client.created | date: 'yyyy-MM-dd'}}" tooltip-placement="left" class="cursor" ng-class="{'label label-info': client.added}">
									{{client.added ? 'مضاف': ''}}
								</span>
							</td>
						</tr>
						<tr class="danger">
							<td class="text-center" colspan="5"><h4>الخصوم</h4></td>
						</tr>
						<tr ng-repeat="defendant in selectedCase.defendant" class="no-animate" class="no-animate" class="text-center" ng-mouseenter="show = true" ng-mouseleave="show = false">
							<td>
								<span ng-show="show && !defendant.removed" style="float: left;" class="text-muted">
									<span class="glyphicon glyphicon-remove cursor" ng-click="showRemoveDefendantConfirmForm($index)"></span>
								</span>
							</td>
							<td colspan="1" class="text-center">{{defendant.user.mobilePhone}}</td>
							<td class="text-center">{{defendant.role[defendant.role.length - 1]}}</td>
							<td colspan="2" class="text-center">
								{{defendant.user.firstName}} {{defendant.user.lastName}} 
								<label class="label label-danger" ng-show="defendant.removed">حذف</label>
								<span ng-class="{'label label-info': defendant.added}" tooltip="{{defendant.created | date: 'yyyy-MM-dd'}}" tooltip-placement="left" class="cursor">
									{{defendant.added ? 'مضاف': ''}}
								</span>
							</td>
						</tr>
						<tr class="warning">
							<td class="text-center" colspan="5"><h4>الوقائع</h4></td>
						</tr>
						<tr>
							<td colspan="4"><h5>{{selectedCase.subject}}</h5></td>
							<td><h4>الموضوع</h4></td>
						</tr>
						<tr>
							<td colspan="5">
								<p>{{selectedCase.facts}}</p>
							</td>
						</tr>
						<tr class="primary">
							<td class="text-center" colspan="5"><h4>التحديثات</h4></td>
						</tr>
						<tr>
							<td colspan="5" ng-hide="selectedCase.updates.length">
								<h4 class="alert alert-danger">لايوجد تحديثات</h4>
							</td>
						</tr>
						<tr ng-show="selectedCase.updates.length">
							<th class="text-center">تاريخ الإدخال</th>
							<th class="text-center">المستخدم</th>
							<th class="text-center">الملاحظات</th>
							<th class="text-center">الرقم</th>
							<th class="text-center">التحديث</th>
						</tr>					
						<tr ng-show="selectedCase.updates.length" ng-repeat="updateInfo in selectedCase.updates" class="no-animate">
							<td class="text-center">{{updateInfo.created | date: 'yyyy-MM-dd HH:mm'}}</td>
							<td class="text-center">{{updateInfo.user.firstName}} {{updateInfo.user.lastName}}</td>
							<td>{{updateInfo.updateInfo}}</td>
							<td class="text-center">{{updateInfo.updateId || '-------'}}</td>
							<td class="text-center" colspan="2">
								{{updateInfo.updateType}}
								<label class="label label-danger" ng-show="updateInfo.removed">حذف</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</section>