<section>
	<div class="row add-space">
		<div class="col-md-12">
			<div class="jumbotron">
				<div class="container">
					<form class="form-inline">
						<div class="form-group">
							<div class="input-group">
								<ul class="nav nav-pills icon-right">
									<li role="presentation" ng-click="memosClosed()" class="{{activeClosed}}"><a href="#">مغلقة</a></li>
									<li role="presentation" ng-click="memosPending()" class="{{activePending}}"><a href="#">معلقة</a></li>
								</ul>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<label class="input-group-addon">تاريخ التسليم من</label>
								<input type="date" ng-model="searchInfo.searchDateFrom" name="searchDateFrom" class="form-control"/>
							</div>
							<div class="input-group">
								<label class="input-group-addon">إلى</label>
								<input type="date" ng-model="searchInfo.searchDateTo" name="searchDateTo" class="form-control" />
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<input ng-model="searchKey" placeholder="بحث" class="form-control">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" ng-hide="memos.length">
			<h4 class='alert alert-danger'>لاتوجد مذكرات</h4>
		</div>
	</div>
	<div ng-show="memos.length">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-striped table-bordered table-hover table-condensed">
						<thead>
							<tr>
								<th class="text-center">الحالة</th>
								<th class="text-center" >تاريخ التسليم</th>
								<th class="text-center">المستشار</th>
								<th class="text-center">المحكمة</th>
								<th class="text-center">الخصم و صفته</th>
								<th class="text-center">الموكل و صفته</th>
								<th class="text-center">نوعها</th>
								<th class="text-center">رقم الدعوى</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="memo in memos | dateRangeConfigFilter:'deadline':searchInfo.searchDateFrom: searchInfo.searchDateTo | filter:searchKey" class="no-animate">
								<td class="text-center">{{memo.memoStatus | localize:'ar'}}</td>
								<td class="text-center">
									{{memo.deadline | date: 'yyyy-MM-dd'}}
									<p ng-hide="memo.deadline">----</p>
								</td>
								<td class="text-center">
									<a href="" ng-show="isAdmin" ng-click="showUpdateConsultantForm($index)">{{fullName(memo.memoConsultant) || 'empty'}}</a>
									<span ng-hide="isAdmin">{{fullName(memo.memoConsultant) || 'empty'}}</span>
								</td>
								<td class="text-center">{{memo.court[0].name}}</td>
								<td class="text-center">
									<p ng-repeat="defendant in memo.defendant">
										{{defendant.user.firstName}} {{defendant.user.lastName}} - {{defendant.role[defendant.role.length - 1]}}
									</p>
								</td>
								<td class="text-center">
									<p ng-repeat="client in memo.client">
										{{client.user.firstName}} {{client.user.lastName}} - {{client.role[client.role.length - 1]}}
									</p>
								</td>
								<td class="text-center">{{memo.memoType}}</td>
								<td class="text-center">{{memo.memoId}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
