<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-pills icon-right">
		  <li role="presentation" ng-click="previous()" class="{{activePrevious}}"><a href="#">السابقة</a></li>
		  <li role="presentation" ng-click="upcoming()" class="{{activeUpcoming}}"><a href="#">القادمة</a></li>
		</ul>
	</div>
	<div class="col-md-12">
		<div class="table-responsive">
			<table class="table table-striped table-hover table-condensed">
				<thead>
					<tr>
						<th class="text-center">تاريخ الإنشاء</th>
						<th class="text-center">المستخدم</th>
						<th class="text-center">تاريخ و وقت الجلسة</th>
						<th class="text-center">رقم الدعوى</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="session in sessions" class="cursor no-animate" ng-click="showSessionDetails($index)">
						<td class="text-center">{{session.sessionCreated | date: 'Z yyyy-mm-dd'}}</td>
						<td class="text-center">{{session.sessionUser.firstName}} {{session.sessionUser.lastName}}</td>
						<td class="text-center">{{session.sessionDate | date: 'Z yyyy-mm-dd'}} - {{session.sessionTime | date: 'HH:mm'}} </td>
						<td class="text-center">{{session.caseNumber}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>