<section>
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeModal()" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title text-center">بيانات الخصم</h4>
			</div>
			<div class="modal-body">
				<form class="form">
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-star"></i>
							</span>
							<input type="text" class="form-control" ng-model="newDefendant.firstName" placeholder="الإسم الأول">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-star"></i>
							</span>
							<input type="text" class="form-control" ng-model="newDefendant.lastName" placeholder="الإسم الثاني">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-phone-alt"></i>
							</span>
							<input type="text" class="form-control" ng-model="newDefendant.mobilePhone" placeholder="رقم الهاتف">
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-user"></i>
							</span>
							<select class="form-control" ng-model="newDefendant.role">
								<option value="">-- الصفة --</option>
								<option value="first respondant">المدعى عليه الأول</option>
							</select>
						</div>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-globe"></i>
							</span>
							<textarea class="form-control" ng-model="newDefendant.address" placeholder="العنوان" rows="8"></textarea>
						</div>
					</div>
					<div class="form-group">
						<button ng-click="createNewDefendant()" class="btn btn-lg btn-block btn-success">إضافة خصم</button>
					</div>
				</form>
			</div>
		</div>
</section>