<section>
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeModal()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title text-center">إضافة موكل</h4>
		</div>
		<div class="modal-body">
			<h4 ng-show="error" class="alert alert-danger">{{error}}</h4>
			<form name="clientInfo" novalidate autocomplete="off">
				<fieldset>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-star"></i>
							</span>
							<input type="text" class="form-control" name="firstName" data-ng-model="userInfo.firstName" placeholder="الإسم الأول" required>
						</div>
						<h5 class="alert alert-danger" ng-show="clientInfo.firstName.$error.required && clientInfo.firstName.$dirty">
							حقل الإسم الأول مطلوب
						</h5>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-star"></i>
							</span>
							<input type="text" class="form-control" name="lastName" data-ng-model="userInfo.lastName" placeholder="الإسم الثاني" required>
						</div>
						<h5 class="alert alert-danger" ng-show="clientInfo.lastName.$error.required && clientInfo.lastName.$dirty">
							حقل الإسم الثاني مطلوب
						</h5>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-star"></i>
							</span>
							<input type="text" class="form-control" name="name" data-ng-model="userInfo.name" placeholder="إسم المستخدم" required>
						</div>
						<h5 class="alert alert-danger" ng-show="clientInfo.name.$error.required && clientInfo.name.$dirty">
							إسم المستخدم مطلوب
						</h5>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-phone-alt"></i>
							</span>
							<input type="text" class="form-control" name="mobilePhone" data-ng-model="userInfo.mobilePhone" placeholder="رقم الهاتف" required>
						</div>
						<h5 class="alert alert-danger" ng-show="clientInfo.mobilePhone.$error.required && clientInfo.mobilePhone.$dirty">
							رقم الهاتف مطلوب
						</h5>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-envelope"></i>
							</span>
							<input type="email" class="form-control" name="email" data-ng-model="userInfo.email" placeholder="البريد الإلكتروني" required>
						</div>
						<h5 class="alert alert-danger" ng-show="clientInfo.email.$error.required && clientInfo.email.$dirty">
							حقل البريد الإلكتروني مطلوب
						</h5>
						<h5 class="alert alert-danger" ng-show="clientInfo.email.$invalid && clientInfo.email.$dirty">
							يرجى إدخال عنوان بريد إلكتروني صحيح
						</h5>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-asterisk"></i>
							</span>
							<input type="password" class="form-control" name="password" ng-maxlength="40" ng-minlength="8" data-ng-model="userInfo.password" placeholder="كلمة السر" required>
						</div>
						<h5 class="alert alert-danger" ng-show="clientInfo.password.$error.required && clientInfo.password.$dirty">
							حقل كلمة السر مطلوب
						</h5>
						<h5 class="alert alert-danger" ng-show="clientInfo.password.$error.maxlength && clientInfo.password.$dirty">
							الحد الأقصى لكلمة السر هو ٤٠ حرفا
						</h5>
						<h5 class="alert alert-danger" ng-show="clientInfo.password.$error.minlength && clientInfo.password.$dirty">
							الحد الأدنى لكلمة السر هو ٨ أحرف
						</h5>
					</div>
					<div class="form-group">
						<div class="input-group input-group-lg">
							<span class="input-group-addon">
								<i class="text-muted glyphicon glyphicon-asterisk"></i>
							</span>
							<select data-ng-model="userInfo.clientRole" class="form-control" required>
								<option value="">-- الصفة --</option>
								<option ng-repeat="role in caseRoles" value="{{role.name}}">{{role.name}}</option>
							</select>
						</div>
					</div>
					<p>&nbsp;</p>
					<div class="text-center form-group">
						<button ng-click="createNewClient()" ng-disabled="clientInfo.$invalid" class="btn btn-lg btn-success btn-block">تسجيل مستخدم جديد</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</section>