<div class="row">
	<div class="col-md-12">
		<button ng-click="showNewCaseRoleForm()" class="btn btn-lg btn-success icon-right">إضافة صفة</button>
	</div>
	<div class="col-md-12">
		<h4 ng-hide="caseRoles.length" class="alert alert-danger">لم يتم إضافة صفات</h4>
		<table ng-show="caseRoles.length" class="table table-striped">
			<thead>
				<tr>
					<th class="text-center">إلغاء</th>
					<th class="text-center">الصفة</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="role in caseRoles" class="no-animate">
					<td ng-click="removeCaseRole($index, role._id)" class="text-center">
						<span class="glyphicon glyphicon-remove cursor"></span>
					</td>
					<td class="text-center">{{role.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
