<section>
	<div class="row add-space">
		<div class="col-md-12">
			<button ng-click="showNewCaseRoleForm()" class="btn btn-md btn-info icon-right">
				إضافة صفة <span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 ng-hide="caseRoles.length" class="alert alert-danger">لم يتم إضافة صفات</h4>
			<table ng-show="caseRoles.length" class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th class="text-center"><span class="glyphicon glyphicon-remove cursor text-muted"></span></th>
						<th class="text-center">الصفة</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="role in caseRoles" class="no-animate" ng-mouseenter="show = true" ng-mouseleave="show = false">
						<td class="text-center">
							<span ng-show="show && !role.removed"
								ng-click="removeCaseRole($index, role._id)" 
								class="glyphicon glyphicon-remove cursor text-muted"></span>
						</td>
						<td class="text-center">
							{{role.name}}
							<label class="label label-danger" ng-show="role.removed">حذفت</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
