<div data-ui-view>
	<div class="row">
		<div class="col-md-12">
			<button class="btn btn-lg btn-success icon-right" ng-click="showNewCaseForm()">إضافة قضية جديدة</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12" ng-hide="cases.length">
			<h4 class='alert alert-danger'>لاتوجد قضايا</h4>
		</div>
		<div ng-show="cases.length" class="col-md-12">
			<table class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th class="text-center">تاريخ الإدخال</th>
						<th class="text-center">تاريخ القضية</th>
						<th class="text-center">الحالة</th>
						<th class="text-center">الموضوع</th>
						<th class="text-center">رقم القضية</th>
						<th class="text-center">رقم البلاغ</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="case in cases" ng-click="showCaseDetails($index)" class="no-animate cursor">
						<td class="text-center">{{case.created | date: 'Z yyyy-MM-dd HH:mm:ss'}}</td>
						<td class="text-center">{{case.caseDate | date: 'yyyy-MM-dd'}}</td>
						<td class="text-center">{{case.status | localize:'ar'}}</td>
						<td class="text-center">{{case.subject}}</td>
						<td class="text-center">{{case.caseNumber}}</td>
						<td class="text-center">{{case.reportNumber}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>