<div data-ui-view>
	<div class="row">
		<div class="col-md-12" ng-hide="consultants.length">
			<h4 class='alert alert-danger'>لايوجد مستشارين</h4>
		</div>
		<div ng-show="consultants.length" class="col-md-12">
			<table class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th class="text-center">إلغاء</th>
						<th class="text-center">التاريخ</th>
						<th class="text-center">البريد الإلكتروني</th>
						<th class="text-center">رقم الهاتف</th>
						<th class="text-center">الإسم الثاني</th>
						<th class="text-center">الإسم الأول</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="consultant in consultants" class="no-animate">
						<td class="text-center">
							<span class="glyphicon glyphicon-remove cursor" ng-click="removeConsultant($index, consultant._id)"></span>
						</td>
						<td class="text-center">{{consultant.created}}</td>
						<td class="text-center">{{consultant.email}}</td>
						<td class="text-center">{{consultant.mobilePhone}}</td>
						<td class="text-center">{{consultant.lastName}}</td>
						<td class="text-center">{{consultant.firstName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>