<section>
	<div class="row add-space">
		<div class="col-md-12">
			<button ng-click="showNewCourtForm()" class="btn btn-info btn-md icon-right">  إضافة محكمة <span class="glyphicon glyphicon-plus"></span></button>
		</div>
	</div>
	<div class="row">
		<div ng-hide="courts.length" class="col-md-12">
			<h4 class="alert alert-danger">لم يتم إضافة أي محكمة</h4>
		</div>
		<div class="table-responsive">
			<table ng-show="courts.length" class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th class="text-center"><i class="glyphicon glyphicon-remove text-muted"></i></th>
						<th class="text-center">المدينة</th>
						<th class="text-center">العنوان</th>
						<th class="text-center">إسم المحكمة</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="court in courts" class="no-animate">
						<td class="text-center">
							<span ng-hide="court.removed" class="glyphicon glyphicon-remove cursor text-muted" ng-click="removeCourtInfo($index, court._id)"></span>
						</td>
						<td class="text-center">{{court.city}}</td>
						<td class="text-center">{{court.address}}</td>
						<td class="text-center">
							{{court.name}}
							<label class="label label-danger" ng-show="court.removed">حذفت</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>