<div class="row">
	<div class="col-md-12">
		<table class="table table-striped">
			<thead>
				<tr>
					<th class="text-center">إلغاء</th>
					<th class="text-center">رقم الهاتف</th>
					<th class="text-center">الإسم</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="defendant in defendants" class="no-animate">
					<td class="text-center">
						<span ng-click="removeDefendant($index, defendant._id)" class="glyphicon glyphicon-remove cursor"></span>
					</td>
					<td class="text-center">{{defendant.mobilePhone}}</td>
					<td class="text-center">{{defendant.firstName}} {{defendant.lastName}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>