<div data-ui-view>
	<div class="row">
		<div class="col-md-12" ng-hide="employees.length">
			<h4 class='alert alert-danger'>لايوجد موظفين</h4>
		</div>
		<div ng-show="employees.length" class="col-md-12">
			<table class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th class="text-center">إلغاء</th>
						<th class="text-center">التاريخ</th>
						<th class="text-center">البريد الإلكتروني</th>
						<th class="text-center">رقم الهاتف</th>
						<th class="text-center">الإسم الثاني</th>
						<th class="text-center">الإسم الأول</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="employee in employees" class="no-animate">
						<td class="text-center">
							<span class="glyphicon glyphicon-remove cursor" ng-click="removeEmployee($index, employee._id)"></span>
						</td>
						<td class="text-center">{{employee.created | date: 'Z yyyy-MM-dd HH:mm:ss'}}</td>
						<td class="text-center">{{employee.email}}</td>
						<td class="text-center">{{employee.mobilePhone}}</td>
						<td class="text-center">{{employee.lastName}}</td>
						<td class="text-center">{{employee.firstName}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>