<div class="row add-space">
	<div class="col-md-12">
		<ul class="nav nav-pills" style="float: right;margin-right:0 !important;padding-right:0 !important;">
			<li role="presentation" ui-sref-active="active">
				<a ui-sref="admin.settings.caseRole"><b> الصفات</b></a>
			</li>
			<li role="presentation" ui-sref-active="active">
				<a ui-sref="admin.settings.updatetypes"><b> أنواع التحديثات</b></a>
			</li>
			<li role="presentation" ui-sref-active="active">
				<a ui-sref="admin.settings.casetypes"><b> أنواع القضايا</b></a>
			</li>
			<li role="presentation" ui-sref-active="active">
				<a ui-sref="admin.settings.courts"><b> المحاكم</b></a>
			</li>
		</ul>
	</div>
</div>
<div data-ui-view></div>