<section>
	<div class="row add-space">
		<div class="col-md-12">
			<button ng-click="showNewUpdateForm()" class="btn btn-md btn-info icon-right">
				إضافة نوع تحديث <span class="glyphicon glyphicon-plus"></span>
			</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<h4 ng-hide="updatetypes.length" class="alert alert-danger">لم يتم أضافة نوع تحديث</h4>
			<table ng-show="updatetypes.length" class="table table-condensed table-hover table-striped">
				<thead>
					<tr>
						<th class="text-center"><span class="glyphicon glyphicon-remove cursor text-muted"></span></th>
						<th class="text-center">تحديد جلسة</th>
						<th class="text-center">إضافة ملاحظة</th>
						<th class="text-center">عنوان الطلب</th>
						<th class="text-center">طلب مذكرة</th>
						<th class="text-center">طلب تحديث الصفة</th>
						<th class="text-center">عنوان الطلب</th>
						<th class="text-center">طلب رقم معرف</th>
						<th class="text-center">النوع</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="update in updatetypes" class="no-animate" ng-mouseenter="show = true" ng-mouseleave="show = false">
						<td  class="text-center text-muted">
							<span ng-show="show && !update.removed"
								ng-click="removeUpdatetypes($index, update._id)"
								class="glyphicon glyphicon-remove cursor">
							</span>
						</td>
						<td class="text-center">{{update.requireNextSession | localize: 'ar'}}</td>
						<td class="text-center">{{update.requireRemarks | localize: 'ar'}}</td>
						<td class="text-center">
							{{update.requestMemoTitle}}
							<p ng-hide="update.requestMemoTitle">----</p>
						</td>
						<td class="text-center">{{update.requestMemo | localize: 'ar'}}</td>
						<td class="text-center">{{update.requireRoleUpdate | localize:'ar'}}</td>
						<td class="text-center">{{update.requiredIdTitle || '---------'}}</td>
						<td class="text-center">{{update.requiredId | localize:'ar'}}</td>
						<td class="text-center">
							{{update.name}}
							<label class="label label-danger" ng-show="update.removed">حذف</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>