<div data-ui-view>
	<div class="row">
		<div class="row add-space" ng-hide="users.length">
			<div class="col-md-12">
				<h4 class="alert alert-danger">لم يتم إضافة أي مستخدم</h4>
			</div>
		</div>
		<div class="row add-space">
			<div class="col-md-12">
				<ul class="nav nav-pills" style="float: right;margin-right:0 !important;padding-right:0 !important;">
					<li role="presentation" ng-click="getClients()" class="{{activeLinkArray['client']}}">
						<a href="#">الموكليين</a>
					</li>
					<li role="presentation" ng-click="getEmployees()" class="{{activeLinkArray['employee']}}">
						<a href="#">الموظفين</a>
					</li>
					<li role="presentation" ng-click="getConsultants()" class="{{activeLinkArray['consultant']}}">
						<a href="#">المستشاريين</a>
					</li>
					<li role="presentation" ng-click="getAll()" class="{{activeLinkArray['all']}}">
						<a href="#">الكل</a>
					</li>
					<li role="presentation">
						<button class="btn btn-md btn-info icon-right" ng-click="showNewUserForm()">
							إضافة مستخدم جديد <span class="glyphicon glyphicon-plus"></span>
						</button>
					</li>
				</ul>
			</div>
		</div>
		<div ng-show="users.length" class="row add-space" ng-show="users">
			<div class="col-md-12">
				<table class="table table-condensed table-hover table-striped">
					<thead>
						<tr>
							<th class="text-center">إلغاء</th>
							<th class="text-center">الدور</th>
							<th class="text-center">البريد الإلكتروني</th>
							<th class="text-center">إسم المستخدم</th>
							<th class="text-center">الإسم الثاني</th>
							<th class="text-center">الإسم الأول</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users" class="no-animate">
							<td class="text-center text-muted">
								<span ng-click="removeUserInfo($index, user._id)" class="glyphicon glyphicon-remove cursor"></span>
							</td>
							<td class="text-center">{{user.role | localize:'ar'}}</td>
							<td class="text-center">{{user.email}}</td>
							<td class="text-center">{{user.name}}</td>
							<td class="text-center">{{user.lastName}}</td>
							<td class="text-center">{{user.firstName}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>